body {
	background-color: white;
	color: black;
	font-family: Helvetica;
}

td {
	border: 1.5px solid black;
	padding: 7px;

}

th{
	border: 1.5px solid black;
}

 .empty{
	border: none;
 }

 h1 {
	 text-align: center;
	 
 }

 td:hover {
	 background-color: green;
 }
 
.box{
	border-style: dotted;
	
} 
 
div {border-color: blue, green, red, pink;}